{% extends 'Base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
	<title>Examination  | {{brand.full_name}}</title>
{% endblock %}

{% block react_script %}
    <script type='text/babel'>
        class Examination extends React.Component{
            state = {
                deviceError:false,
                loading:false,
                fullscreen:false,
                baseAjaxUrl: `${location.protocol}//${location.hostname}:${location.port}`,
                Quiz:{},
                Questions:[],
            }

            componentWillMount = ()=>{
                // screen width check

                if(screen.width < 1078){
                    this.setState({deviceError:'Only for Desktop'})
                }else{
                    const quiz_id = {{quiz_id}};
                    const {baseAjaxUrl} = this.state;
                    this.setState({
                        loading:true,
                    })
                    axios.all([
                        axios.get(`${baseAjaxUrl}/quiz/${quiz_id}/details/`),
                        axios.get(`${baseAjaxUrl}/quiz/${quiz_id}/questions/`)
                        ])
                        .then(axios.spread((quiz, questions)=> {
                            this.setState({
                                Quiz:quiz.data,
                                Questions:questions.data,
                                loading:false,
                            })
                        }))
                        .catch((response,error)=>{
                            console.log(error);
                            this.set({
                                loading:false,
                            })
                            alert(response.data);

                        })

                }
            }

            toggleFullScreen = ()=>{
                console.log(document.getElementById('quiz'))

            }

            style ={
                quiz_image:{
                    width:'100%',
                },
                quiz_info:{
                    position:'absolute',
                    top:'50%',
                    left:'20%',
                    zIndex:2,
                    width:'60%',
                    height:'70%',
                    backgroundColor:'#a5a7aa99',
                    padding:'2em',
                    borderRadius:'2em',

                },
                thumbnail_quiz:{
                    height:'10em',
                    width:'10em',
                    objectFit:'cover',
                    borderRadius:'50%',
                    margin:'1em',
                },
                quiz_name:{
                    color:'#FBFFB9 !important',
                }
            }
            beginTest = ()=>{
                this.setState({fullscreen:true})

            }
            handleKeyPress = (event)=>{
                if(event.which === 13){
                    this.beginTest();
                }
            }
            fullscreen = (event)=>{

            }
            render=()=>{
                const {deviceError,loading,Quiz,Questions,fullscreen,baseAjaxUrl} = this.state;
                const {
                    quiz_image,
                    quiz_info,
                    thumbnail_quiz,
                    quiz_name,

                } = this.style;

                if(deviceError){
                    return(
                        <h1 className='alert alert-danger text-center'>{deviceError}</h1>
                    )
                }
                if(loading){
                    return(
                        <Loader/>
                    )
                }
                return(
                    <div id='quiz' onKeyPress={this.handleKeyPress}>
                        {
                            fullscreen
                            ? <Examspace
                                baseAjaxUrl={baseAjaxUrl}
                                Quiz={Quiz}
                                Questions={Questions}

                                />
                            : <div >
                                <img src={Quiz.cover_image_url} alt={Quiz.name} style={quiz_image}/>
                                <div style={quiz_info}>
                                    <div className='row'>
                                        <div className='col-lg-4'>
                                            <img src={Quiz.cover_image_url} style={thumbnail_quiz}/>
                                        </div>
                                        <div className='col-lg-8'>
                                            <h2 style={quiz_name}><i className="fa fa-list-alt" aria-hidden="true"></i> {Quiz.name}</h2>
                                            <hr/>
                                            <h4><i className="fa fa-file-text" aria-hidden="true"></i> {Quiz.syllabus}</h4>
                                            <h5><i className="fa fa-check-square-o" aria-hidden="true"></i> {Quiz.full_marks} Marks</h5>
                                            <h5><i class="fa fa-database" aria-hidden="true"></i> {Quiz.no_of_questions} Questions</h5>
                                            {Quiz.negative_marking && <h5><i className="fa fa-minus-circle" aria-hidden="true"></i>  Negative Marking</h5>}
                                            <br/>
                                            <button type="button" value="Begin" className="btn btn-primary py-3 px-5" onClick={this.beginTest}><i className="fa fa-terminal" aria-hidden="true"></i> Begin</button>
                                        </div>

                                    </div>


                                </div>

                            </div>
                        }

                    </div>
                );
            }
        }
        ReactDOM.render(<Examination/>,document.getElementById('examination'))

    </script>


{% endblock %}


{% block content %}
    <section id='examination'></section>


{% endblock %}