{% extends 'Base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
	<title>All Tests  | {{brand.full_name}}</title>
{% endblock %}

{% block content %}
<section class="ftco-section">
	<div class="container-fluid px-4">
		<div class="row">
		{% if quizzes %}
		    {% for quiz in quizzes %}
			<div class="col-md-3 course ftco-animate" style="box-shadow: 0 0 12px 0 rgba(0,0,0,.05);background: #ffffff">
				<div class="img" style="background-image: url({{quiz.cover_image_url}});"></div>
				<div class="text pt-4">
					<p class="meta d-flex">
						<span><i class="icon-user mr-2"></i> {{brand.full_name}}</span>
						<span><i class="icon-table mr-2"></i>{{quiz.full_marks}} Marks</span>
						<span><i class="icon-calendar mr-2"></i>{{quiz.no_of_questions}} Questions</span>
					</p>
					<h3><a href="#">{{quiz.name}}</a></h3>
					<p>{{quiz.syllabus}}</p>
                    {% if request.user.is_authenticated %}
                    <p><a href="{% url 'Quiz:quiz-web-detail' pk=quiz.id %}" class="btn btn-primary">Take This Test</a></p>
                    {% else %}
				    <p><a href="{% url 'Quiz:quiz-web-detail' pk=quiz.id %}" class="btn btn-primary">Login to start</a></p>
                    {% endif %}
				</div>
			</div>
		    {% endfor %}
		{% endif %}
		</div>
	</div>
</section>
{% endblock %}