{% extends 'Base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
	<title>All Tests  | {{brand.full_name}}</title>
{% endblock %}


{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url({{brand.random_hero_image}});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Test Your Skills Online</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'Website:home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Examination <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    
		
	<section class="ftco-section">
			<div class="container-fluid px-4">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4"><span>Our</span> Mock Tests</h2>
            <p>Feel the real experience of online exam via {{brand.full_name}} Testify</p>
          </div>
        </div>	
				<div class="row">
					{% if quizzes %}
						{% for quiz in quizzes %}
							<div class="col-md-3 course ftco-animate">
								<div class="img" style="background-image: url({{quiz.cover_image_url}});"></div>
								<div class="text pt-4">
									<p class="meta d-flex">
										<span><i class="icon-user mr-2"></i>Mr. Khan</span>
										<span><i class="icon-table mr-2"></i>{{quiz.full_marks}} Marks</span>
										<span><i class="icon-calendar mr-2"></i>{{quiz.no_of_questions}} Questions</span>
									</p>
									<h3><a href="#">{{quiz.name}}</a></h3>
									<p>{{quiz.syllabus}}</p>
                                    {% if request.user.is_authenticated %}
                                        <p><a href="{% url 'Quiz:quiz-web-detail' pk=quiz.id %}" class="btn btn-primary">Take This Test</a></p>
                                    {% else %}
									    <p><a href="{% url 'Quiz:quiz-web-detail' pk=quiz.id %}" class="btn btn-primary">Login to start</a></p>
                                    {% endif %}
								</div>
							</div>
						{% endfor %}
					{% else %}
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-1.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Electric Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Apply now</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-2.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Electric Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Apply now</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-3.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Electric Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Apply now</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(images/course-4.jpg);"></div>
						<div class="text pt-4">
							<p class="meta d-flex">
								<span><i class="icon-user mr-2"></i>Mr. Khan</span>
								<span><i class="icon-table mr-2"></i>10 seats</span>
								<span><i class="icon-calendar mr-2"></i>4 Years</span>
							</p>
							<h3><a href="#">Electric Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="#" class="btn btn-primary">Apply now</a></p>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</section>
{% endblock %}